body {
background-image: url("https://www.google.com/search?q=space+images&rlz=1C1GIWA_enIN866IN867&tbm=isch&source=iu&ictx=1&fir=Qzi-0v6FY99hsM%252CuUsw3zSxFAqoLM%252C_&vet=1&usg=AI4_-kSD45Fw8BNkUD1f1Z94Kj9okJnMDA&sa=X&ved=2ahUKEwir1rTR3MLqAhXRmeYKHRhJC-cQ9QEwAnoECAcQNA#imgrc=Qzi-0v6FY99hsM");
 background-size: 100% 100%;
}
p {
color: white;
}